.container-article {
    /* height: 100vh; */
    font-family: 'Roboto', sans-serif;
}

.container-article h2, h5, h4, h6 {
    font-weight: 700;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
    
    color: #CB997E !important;
}

.navigate-menu {
    margin-left: 27%;
}

.navigate-menu a {
    text-decoration: none;
    color: #CB997E;
}

.post-detail-description {
    font-weight: 400;
    color: #D9D9D9;
    font-size: 12px;
}

.content-detail-post {
    text-align: justify;
    font-size: 1rem;
    color: #292929;
}

.btn-file-image {
    background-color: #E4E4E4;
    border-radius: 0.5rem;
    border: 0.1rem solid #E4E4E4;
    cursor: pointer;
}

.btn-file-image svg {
    margin-top: 20%;
    color: #292929;
    font-size: 2rem;
}

.preview {
    margin-top: 50;
    display: "flex";
    flex-direction: "column";
}

.preview img {
    max-width: 100%;
}

.btn-remove-preview {
    background-color: #cb997e;
}

.btn-remove-preview:hover {
    background-color: #a27a64;
    color: white;
}

@media only screen and (max-width:900px) {
    .navigate-menu {
        margin: 1em 1.5em;
    }
}