.main-article {
    font-family: 'Crismon Pro';
    /* background-color: #F5F5F5; */
}

.main-article h2 {
    font-weight: 700;
}

.list-category {
    font-weight: 500;
    font-size: 18px;
}

.list-category:hover {
    cursor: pointer;
    font-weight: 700;
}

.card {
    border: none;
}

.card-title {
    font-weight: 700;
    text-align: left;
}

.card-text {
    font-weight: 500;
    text-align: left;
    color: #959595;
}

.big-card {
    font-size: 30px;
}