.banner-bg{
    background-color: #D9D9D9;
    box-shadow: 0 0 0 100vmax #D9D9D9;
    clip-path: inset(0 -100vmax);
}

.banner-qna {
    background-color: #D4AA94;
    box-shadow: 0 0 0 100vmax #D4AA94;
    clip-path: inset(0 -100vmax);
}

.hero-title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}

.hero-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.banner-gradient{
    width: 415px;
    height: 338px;
    background-image: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #D1D1D1 100%);
}
