.qna-container, .filter-search-qna {
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

.qna-section .h-content {
    font-weight: 400;
    font-size: 18px;
}

.qna-section .h-name {
    color: #959595;
    font-weight: 500;
}

.view-replies {
    color: #915AA5;
    font-size: 18px;
}

.page-link.active {
    background-color: #915AA5;
    border-color: #915AA5;
}

#message-text {
    height: 150px;
}

.answer-field {
    border: none; 
    background-color: #f4f4f4;
    height: 100px;
    width: 100%;
}

@media only screen and (max-width:900px) {
    .qna-container, .filter-search-qna{
        padding: auto;
    }
}
